/* general styles for layout */

body {
    background: #fafafa;
    color: #333333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
color: #444444;
}

/* navbar settings */

.bg-steel {
background-color: #4f728a;
}

.site-header .navbar-nav .nav-link {
color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
font-weight: 500;
}

/* styles for about heading */

.about-header {
    padding-top: 8px;
    border-bottom: 1px solid #000000; 
    width: 250px; 
    padding-bottom: 5px;
}

/* account image settings */

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
font-size: 2.5rem;
}

/* parallax settings */

.parallax-window {
    min-height: 500px;
}

.para_text {
    text-align: center;
    vertical-align: middle;
    color: whitesmoke;
    -webkit-text-stroke-width: .8px;
    -webkit-text-stroke-color: black;
    font-size: 3.5em;
    line-height: 450px;
}

/* styles for the footer */

.foot {
    background-color: #333;
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    min-height: 80px;
    font-size: 1.5em;
}

/* styles for alerts */

.alert-box {
    margin-top: 3.5rem;
    margin-bottom: 0;
    width: 100%;
} 

.alert {
    margin: 0;
}

/* styles for login/register */

.footnote {
    margin-bottom: 10px;
}

.auth {
    padding-top: 8px;
}

/* styles for account */

.account {
    padding-top: 15px;
    padding-left: 15px;
}

.choose-pic {
    background-color: #cbd5db;
    border: 1px solid black;
}

.user-stats {
    margin-bottom: 15px;
}

/* styles for grid */

.grid-header {
    height: 60px; 
    text-align: center; 
    display: table;
    width: 100%;
    background-color: azure;
    border-bottom: 1px solid black;
}

.grid-header-text {
    display:table-cell; 
    vertical-align: middle;
}

.username-cont {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border-top: 1px solid grey;
    text-align: left;
}

.grid-pic {
    height: 30px;
    width: 30px;
}