{% extends "layout.html" %}
{% block content %}
<div class="grid-header">
    <h2 class="grid-header-text"><em>{{ current_user.group.groupname }}</em> Energy Network</h2>
</div>

<div class="container-fluid">
<div class="row">
    <div class="col-md-4 text-center border-bottom border-right border-dark">
      <h4 class="mt-1"><b>Members in Network</b></h4>
      {% for user in current_user.group.users %}
      <div class="media username-cont">
        <span class="media-left">
            <img class="rounded-circle grid-pic" src="{{ url_for('static', filename='img/profilepics/' + user.image_file) }}">
        </span>
        <div class="media-body">
            <div class="media-content ml-2">{{ user.username }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col text-center border-bottom border-dark">
        <div class="d-flex justify-content-center">
        <h4 class="mt-1"><b>Available Energy Offers</b></h4>
        <a class="btn btn-xs ml-3" href="{{ url_for('make_offer') }}">make an offer</a>
        </div>
        {% for offer in offers %}
        {% if offer.is_active() and offer.user_id != current_user.id %}
        <div>
        <div class="media border m-2 border-dark">
            <img class="offer-img rounded-circle ml-2 mt-2" src="{{ url_for('static', filename='img/profilepics/' + offer.seller.image_file) }}">
            <div class="media-body">
                <h5 class="ml-2">{{ offer.title }}, ${{offer.top_bid}}, {{offer.energy_offer}}kW posted on {{offer.date_posted.strftime('%B %d, %Y %H:%M')}} ends at {{offer.endtime}}</h5>
                <p class="ml-2">bidding history:
                    <p class="small">
                    {% for bid in offer.bids %}
                                <p>{{bid.placer.username}} for ${{bid.amount}}</p>
                    {% endfor %}
                    </p>
                </p>
                <a class="ml-2" href="{{ url_for('place_bid', offer_id=offer.id) }}">place bid?</a>
            </div>
        </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center border-right border-dark">
        <h4 class="border-bottom border-secondary"><b>Network Statistics</b></h4>
        <div>total energy traded: 0.00</div>
    </div>
    <div class="col text-center border-right">
        <h4 class="border-bottom border-secondary"><b>Recent Activity</b></h4>
    </div>
</div>
</div>

{% endblock content %}