{% extends "layout.html" %}
{% block content %}
<div class="grid-header">
    <h2 class="grid-header-text"><em>{{ current_user.group.groupname }}</em> Energy Network</h2>
</div>

<div class="container-fluid">
<div class="row">
    <div class="col-md-4 text-center border-bottom border-right border-dark">
      <h4 class="mt-1"><b>Members in Network</b></h4>
      {% for user in current_user.group.users %}
      <div class="media username-cont">
        <span class="media-left">
            <img class="rounded-circle grid-pic" src="{{ url_for('static', filename='img/profilepics/' + user.image_file) }}">
        </span>
        <div class="media-body">
            <div class="media-content ml-2">{{ user.username }}</div>
        </div>
        <div class="media-body">
            last active: 7/12/19
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col text-center border-bottom border-dark">
        <div class="d-flex justify-content-center">
        <h4 class="border border-dark mt-1"><b>Current Available Energy in Grid: 32.41kW</h4>
        </div>
        <a class="btn btn-mybutton ml-3" href="{{ url_for('make_offer') }}">make an offer</a>
        <a class="btn btn-mybutton ml-3" href="{{ url_for('make_request') }}">make a request</a>
        <h6 class="mt-3">energy generated yesterday: 25.67kW</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center border-right border-dark">
        <h4 class="border-bottom border-secondary"><b>Week Statistics</b></h4>
        <div>total energy purchased: 434.53kW</div>
        <div>total energy sent: 302.10kW</div>
    </div>
    <div class="col text-center border-right">
        <h4 class="border-bottom border-secondary"><b>Request History</b></h4>
        <div>Offered: 12.5kW on 7/11/19</div>
        <div>Requested: 5.67kW on 7/10/19</div>
        <div>Offered: 14.32kW on 7/8/19</div>
    </div>
</div>
</div>

{% endblock content %}