{% extends "layout.html" %}
{% block content %}
<div class="grid-header">
    <h2 class="grid-header-text"><em>{{ current_user.group.groupname }}</em> Energy Network</h2>
</div>

<div class="container-fluid">
<div class="row">
    <div class="col-md-4 text-center border-bottom border-right border-dark">
      <h4 class="mt-1"><b>Members in Network</b></h4>
      {% for user in current_user.group.users %}
      <div class="media username-cont">
        <span class="media-left">
            <img class="rounded-circle grid-pic" src="{{ url_for('static', filename='img/profilepics/' + user.image_file) }}">
        </span>
        <div class="media-body">
            <div class="media-content ml-2">{{ user.username }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col text-center border-bottom border-dark">
        <div class="d-flex justify-content-center">
        <h4 class="mt-1"><b>Available Energy Offers</b></h4>
        <a class="btn btn-xs ml-3" href="{{ url_for('make_offer') }}">make an offer</a>
        </div>
        {% for offer in offers %}
            {% if offer.active %}
            <div class="d-flex border-top border-secondary">
                <div>{{offer.seller.username}}: <b>{{offer.title}}</b> {{offer.date_posted.strftime('%B %d %Y - %H:%M:%S')}} {{offer.energy_offer}}kW for ${{offer.starting_bid}} </div>
                <a class="ml-2" href="#">place bid?</a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center border-right border-dark">
        <h4 class="border-bottom border-secondary"><b>Network Statistics</b></h4>
        <div>total energy traded: 0.00</div>
    </div>
    <div class="col text-center border-right">
        <h4 class="border-bottom border-secondary"><b>Recent Activity</b></h4>
    </div>
</div>
</div>

{% endblock content %}