{% extends "layout.html" %}
{% block content %}
<div class="parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='img/solar_energy.jpg') }}">
    <h1 class=para_text>
    Welcome to SolTrade
    </h1>
</div>
<div class="ml-2">
    <h3>Lorem ipsum</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Etiam tincidunt nibh ut sapien tincidunt finibus. Aliquam dolor arcu, 
        fringilla non erat in, ultricies faucibus justo. Curabitur a bibendum lacus. 
        Suspendisse scelerisque nunc justo, sit amet mollis neque fermentum id. Donec sed dolor 
        vitae massa porttitor commodo vel vel metus. Morbi lacus elit, porta pretium purus et, ultrices 
        pharetra metus. Vivamus at enim facilisis, laoreet tellus nec, fermentum urna. Proin rhoncus nisi 
        in est ullamcorper, non varius neque aliquam. Vestibulum sit amet sodales diam. 
        Proin commodo eros nec efficitur ultricies. Vivamus quis aliquet enim. 
        Nullam vitae lectus imperdiet, iaculis arcu ut, feugiat arcu. Donec accumsan sit 
        amet elit id vehicula. Nulla id massa orci. Nam auctor suscipit est non convallis.
    </p>
    <h3>Lorem ipsum</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Etiam tincidunt nibh ut sapien tincidunt finibus. Aliquam dolor arcu, 
        fringilla non erat in, ultricies faucibus justo. Curabitur a bibendum lacus. 
        Suspendisse scelerisque nunc justo, sit amet mollis neque fermentum id. Donec sed dolor 
        vitae massa porttitor commodo vel vel metus. Morbi lacus elit, porta pretium purus et, ultrices 
        pharetra metus. Vivamus at enim facilisis, laoreet tellus nec, fermentum urna. Proin rhoncus nisi 
        in est ullamcorper, non varius neque aliquam. Vestibulum sit amet sodales diam. 
        Proin commodo eros nec efficitur ultricies. Vivamus quis aliquet enim. 
        Nullam vitae lectus imperdiet, iaculis arcu ut, feugiat arcu. Donec accumsan sit 
        amet elit id vehicula. Nulla id massa orci. Nam auctor suscipit est non convallis.
    </p>
    <h3>Lorem ipsum</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Etiam tincidunt nibh ut sapien tincidunt finibus. Aliquam dolor arcu, 
        fringilla non erat in, ultricies faucibus justo. Curabitur a bibendum lacus. 
        Suspendisse scelerisque nunc justo, sit amet mollis neque fermentum id. Donec sed dolor 
        vitae massa porttitor commodo vel vel metus. Morbi lacus elit, porta pretium purus et, ultrices 
        pharetra metus. Vivamus at enim facilisis, laoreet tellus nec, fermentum urna. Proin rhoncus nisi 
        in est ullamcorper, non varius neque aliquam. Vestibulum sit amet sodales diam. 
        Proin commodo eros nec efficitur ultricies. Vivamus quis aliquet enim. 
        Nullam vitae lectus imperdiet, iaculis arcu ut, feugiat arcu. Donec accumsan sit 
        amet elit id vehicula. Nulla id massa orci. Nam auctor suscipit est non convallis.
    </p>
</div>
{% endblock content %}